@model jt.jestpro.Models.AlarmNotificationDto
@{
    Layout = "Emails/_DefaultLayout.cshtml";
    var expDate = Model.ExpirationDate.Value.ToString("dd/MM/yyyy");
    var customerName = $"{Model.CustomerName}";
    var description = Model.Description;
    var now = DateTime.UtcNow;
}

<h4>Hello @customerName,</h4>

<div style="margin-left: 10px;">
    @if (now < Model.ExpirationDate.Value)
    {
        <div>
            you have a product that will expire on @expDate
        </div>
    }
    else
    {
        <div>
            you have a product expired on @expDate
        </div>
    }
    <div style="font-weight: bold">Product details</div>
    <div>
        @description
    </div>
</div>
<div style="margin-top: 10px;">
    Best regards, JesTpro team
</div>