<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="Console"
          name="outconsole"
          layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
          detectConsoleAvailable="true" />

    <target name="console" xsi:type="Console" />

    <!-- write logs to file  -->
    <!--<target xsi:type="File" name="allfile" fileName="${basedir}/log/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring,StackTrace}" />-->

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File"
            name="ownFile-web"
            fileName="${basedir}/log/nlog-${shortdate}.log"
            ArchiveFileName ="${basedir}/log/nlog-${cached:${date:format=yyyy-MM-dd}}{#}.zip"
            layout="${longdate:universalTime=true} ${pad:padding=5:inner=${level:uppercase=true}} [${pad:padding=5:inner=${mdlc:item=IID}}] - ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10} | ${event-properties:item=EventId_Id} ${ndlc:uppercase=true:separator= => } | [${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}] [${logger:shortName=false}] "
            ArchiveNumbering="Date"
            ArchiveEvery="Day"
            AutoFlush="true"
            ArchiveDateFormat="yyyy-MM-dd_HH_mm_ss"
            ArchiveOldFileOnStartup= "true"
            EnableArchiveFileCompression = "true"
    />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="jt.*" minlevel="Trace" writeTo="outconsole" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="outconsole" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minLevel="Trace" />-->
    <!-- BlackHole without writeTo -->

    <logger name="Microsoft.*" minlevel="Warn" writeTo="ownFile-web" />
    <logger name="jt.*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>